@grupa-pracuj:registry=https://gppracuj.pkgs.visualstudio.com/_packaging/gp/npm/registry/
@grupapracuj:registry=https://npm.pkg.github.com/
always-auth=true
save-exact=true
tag-version-prefix=v
strict-peer-dependencies=false
auto-install-peers=true
